# Excel Backup File
# Excel temporary
# PowerPoint temporary
# Visio autosave temporary files
# Word Auto Backup File
# Word temporary
*.tmp
*.xlk
*.~vsd*
Backup of *.doc*
~$*.doc*
~$*.ppt*
~$*.xla
~$*.xlam
~$*.xls
~$*.xls*
~$*.xlsb
~$*.xlsm
~$*.xlsx
~$*.xlt
~$*.xltm
~$*.xltx