SET DATEFIRST 7    
SET ANSI_NULLS ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
SET LOCK_TIMEOUT -1  
SET QUOTED_IDENTIFIER ON
SET NOCOUNT ON
SET ANSI_WARNINGS ON
SET IMPLICIT_TRANSACTIONS OFF
GO
ALTER FUNCTION [dbo].[Replace4XML](@Value varchar(max))
RETURNS varchar(max)
AS
BEGIN
DECLARE @ToReplace TABLE(Valor char)
INSERT @ToReplace
SELECT item
FROM dbo.fnSplit('(,),", ,<,>,%,/,\,;,#,$,&,:', ',')
SELECT @Value = REPLACE(@Value, Valor, '')
FROM @ToReplace
RETURN @Value
END
